<div class="container mx-auto mt-300 px-6 p-10" style="background: linear-gradient(90deg, #FFFFFF 0%, #B6B5B5 100%)">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Features
  </h2>

  <div class="flex flex-wrap mb-12">
    <% features = [
      { image: "landing-imgs/analytics.png", title: "Metric Monitoring", description: "Capture vital metrics while you exercise. Monitor your progress and stay informed about your health in real-time." },
      { image: "landing-imgs/categories.png", title: "Categories", description: "Create and organize events into different categories. Easily manage and track RSVPs for each category." },
      { image: "landing-imgs/create.png", title: "Event Creation", description: "Effortlessly create events, set details, and manage RSVPs. Simplify the event planning process with our intuitive interface." },
      { image: "landing-imgs/notifications.png", title: "Notifications", description: "Stay informed with real-time notifications. Receive updates on event activities and important announcements." },
      { image: "landing-imgs/reservations.png", title: "Reservations", description: "Manage and track event reservations effortlessly. Ensure a seamless experience for both organizers and attendees." },
      { image: "landing-imgs/reservations.png", title: "Niche", description: "Gauge how well your business is doing with auto generated comparisons of your events to similar categories" }
    ] %>

    <div class="container mx-auto mt-20 px-6 py-12 bg-gradient-to-b from-white via-gray-100 to-gray-300">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-12">Features</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <% features.each_with_index do |feature, index| %>
      <div class="flex items-center">
        <div class="md:order-<%= index.even? ? '1' : '2' %> md:w-1/2">
          <%= image_tag(feature[:image], class: 'w-full h-auto', alt: feature[:title]) %>
        </div>
        <div class="md:order-<%= index.even? ? '2' : '1' %> md:w-1/2 p-6 bg-white rounded-lg shadow-md">
          <h4 class="text-3xl text-gray-800 font-bold mb-3"><%= feature[:title] %></h4>
          <p class="text-gray-600 mb-8"><%= feature[:description] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

