<%= form_with(model: event, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :name, value: category.name %>
  <%= form.hidden_field :description, value: category.description %>
  <%= form.hidden_field :icon, value: category.icon %>

  <div class="my-5">
    <strong>Category Name:</strong> <%= category.name %>
  </div>

  <div class="my-5">
    <strong>Category Description:</strong> <%= category.description %>
  </div>

  <div class="my-5">
    <strong>Category Icon:</strong> <%= category.icon %>
  </div>

  <div class="my-5">
    <%= form.label :event_name, "Event Name" %>
    <%= form.text_field :event_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
