<div id="<%= dom_id event %>">
  <%= image_tag(event.banner, alt: 'Event Banner', class: 'rounded-t-lg w-full') if event.banner.present? %>
  <div class="p-5">
  <div>
 <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= event.name %></h5>


 <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= event.summary %></h5>

  </div>
    <div class="my-5">
      <%= event.description %>
    </div>
    <div class="relative">
      <%= image_tag(event.avatar, alt: 'Event Avatar', class: 'w-10 h-10 rounded-full') if event.avatar.present? %>
      <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>
    <div class="my-5">
      <strong class="block font-medium mb-1">Reservations:</strong>
      <%= event.reservation %>
    </div>
    <div class="flex">
  <p class="bottom-0 left-7 mb-4 ml-6 mr-10">People attending this event</p>
  <div class="items-center">
    <%= image_tag(event.avatar, alt: 'Event Avatar', class: 'w-10 h-10 border-2 border-white rounded-full dark:border-gray-800') if event.avatar.present? %>
  </div>
  <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" href="#">+99</a>
</div>

<div class="my-5">
  <strong class="block font-medium mb-1">Event Visibility:</strong>
  <%= event.event_type %>
</div>
<% if action_name != "show" %>
      <%= link_to "Show this event", event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this event", edit_event_path(event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>