<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= event.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>
    <div class="relative">
     <%= image_tag(event.avatar, alt: 'Event Avatar', class: 'w-10 h-10 rounded-full') if event.avatar.present? %>
    <span class="bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
</div>



  <p class="my-5">
    <strong class="block font-medium mb-1">Banner:</strong>
    <%= image_tag(event.banner, alt: 'Event Banner') if event.banner.present? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reservations:</strong>
    <%= event.reservation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visibility:</strong>
    <%= event.visibility %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this event", event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this event", edit_event_path(event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
