<div id="<%= dom_id category %>" class="rounded-lg overflow-hidden shadow-md bg-white p-6 my-4">
  <div class="mb-4 flex items-center justify-center">


    <span class="text-6xl"> <%= category.icon %></span>
  </div>

  <div class="mb-4">
    <p class="text-gray-700"><%= category.name %></p>
  </div>

  <% if action_name != "show" %>
    <div class="flex items-center">
      <%= link_to "Show", category, class: "rounded-md py-2 px-4 bg-gray-100 text-sm font-medium mr-2" %>
      <%= link_to "Edit", edit_category_path(category), class: "rounded-md py-2 px-4 bg-gray-100 text-sm font-medium" %>
    </div>

    <hr class="mt-6">
  <% end %>
</div>
