<% content_for :content do %>
<div class="p-4 sm:ml-64 mt-8">
  <h1 class="font-bold text-4xl mt-8">Editing category</h1>

  <div class="mt-4 flex items-center space-x-2 mt-8">
    <%= link_to categories_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium flex items-center" do %>
      <%= raw('<svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>All Categories') %>
    <% end %>

    <%= link_to @category, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium flex items-center" do %>
      <%= raw('<svg class="w-6 h-6 mr-2" fill="#111918" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .sharpcorners_een{fill:#111918;} .st0{fill:#111918;} </style> <path class="sharpcorners_een" d="M16,6C7,6,2,14,2,16s5,10,14,10s14-8,14-10S25,6,16,6z M16,24c-4.418,0-8-3.582-8-8s3.582-8,8-8 s8,3.582,8,8S20.418,24,16,24z M16,9c-3.86,0-7,3.14-7,7s3.14,7,7,7s7-3.14,7-7S19.86,9,16,9z M16,19c-1.657,0-3-1.343-3-3 s1.343-3,3-3s3,1.343,3,3S17.657,19,16,19z"></path> </g></svg>Show Category') %>
    <% end %>
  </div>

  <%= render "form", category: @category %>
</div>
<% end %>
<%= render "shared/dashboard" %>

